/* Styling for desktop */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    align-items: start;
    grid-template-columns: 200px 1fr;
    gap: 1.5rem
}

#main-nav {
    position: sticky;
    top: 0px;
    height: 100vh
}

main {
padding: 10px;
margin-right: 1.5rem;
}