/* dash themes */

:root {
  --ui-opacity: .8;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-50: rgb(237, 241, 247);
    --text-100: rgb(219, 228, 240);
    --text-200: rgb(184, 201, 224);
    --text-300: rgb(148, 173, 209);
    --text-400: rgb(112, 146, 194);
    --text-500: rgb(77, 119, 179);
    --text-600: rgb(61, 95, 143);
    --text-700: rgb(46, 71, 107);
    --text-800: rgb(31, 48, 71);
    --text-900: rgb(15, 24, 36);
    --text-950: rgb(8, 12, 18);

    --background-50: rgb(249, 250, 251);
    --background-100: rgb(224, 230, 235);
    --background-200: rgb(194, 204, 214);
    --background-300: rgb(163, 179, 194);
    --background-400: rgb(133, 153, 173);
    --background-500: rgb(102, 127, 153);
    --background-600: rgb(82, 102, 122);
    --background-700: rgb(61, 76, 92);
    --background-800: rgb(41, 51, 61);
    --background-900: rgb(20, 25, 31);
    --background-950: rgb(10, 13, 15);
    --background-opaque: rgba(0, 0, 0, 0.03);
    
    --primary-50: rgb(232, 239, 253);
    --primary-100: rgb(208, 224, 251);
    --primary-200: rgb(162, 193, 246);
    --primary-300: rgb(115, 162, 242);
    --primary-400: rgb(68, 130, 238);
    --primary-500: rgb(22, 99, 233);
    --primary-600: rgb(17, 79, 187);
    --primary-700: rgb(13, 60, 140);
    --primary-800: rgb(9, 40, 93);
    --primary-900: rgb(4, 20, 47);
    --primary-950: rgb(2, 10, 23);

    --secondary-50: rgb(235, 240, 249);
    --secondary-100: rgb(215, 226, 244);
    --secondary-200: rgb(175, 196, 233);
    --secondary-300: rgb(136, 167, 221);
    --secondary-400: rgb(96, 138, 210);
    --secondary-500: rgb(56, 108, 199);
    --secondary-600: rgb(45, 87, 159);
    --secondary-700: rgb(34, 65, 119);
    --secondary-800: rgb(22, 43, 80);
    --secondary-900: rgb(11, 22, 40);
    --secondary-950: rgb(6, 11, 20);

    --accent-50: rgb(236, 241, 249);
    --accent-100: rgb(216, 226, 243);
    --accent-200: rgb(178, 197, 230);
    --accent-300: rgb(139, 168, 218);
    --accent-400: rgb(101, 139, 205);
    --accent-500: rgb(62, 110, 193);
    --accent-600: rgb(50, 88, 154);
    --accent-700: rgb(37, 66, 116);
    --accent-800: rgb(25, 44, 77);
    --accent-900: rgb(12, 22, 39);
    --accent-950: rgb(6, 11, 19);

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: rgb(8, 12, 18);
    --text-100: rgb(15, 24, 36);
    --text-200: rgb(31, 48, 71);
    --text-300: rgb(46, 71, 107);
    --text-400: rgb(61, 95, 143);
    --text-500: rgb(77, 119, 179);
    --text-600: rgb(112, 146, 194);
    --text-700: rgb(148, 173, 209);
    --text-800: rgb(184, 201, 224);
    --text-900: rgb(219, 228, 240);
    --text-950: rgb(237, 241, 247);

    --background-50: rgb(10, 13, 15);
    --background-100: rgb(20, 25, 31);
    --background-200: rgb(41, 51, 61);
    --background-300: rgb(61, 76, 92);
    --background-400: rgb(82, 102, 122);
    --background-500: rgb(102, 127, 153);
    --background-600: rgb(133, 153, 173);
    --background-700: rgb(163, 179, 194);
    --background-800: rgb(194, 204, 214);
    --background-900: rgb(224, 230, 235);
    --background-950: rgb(240, 242, 245);
    --background-opaque: rgba(255, 255, 255, 0.03);

    --primary-50: rgb(2, 10, 23);
    --primary-100: rgb(4, 20, 47);
    --primary-200: rgb(9, 40, 93);
    --primary-300: rgb(13, 60, 140);
    --primary-400: rgb(17, 79, 187);
    --primary-500: rgb(22, 99, 233);
    --primary-600: rgb(68, 130, 238);
    --primary-700: rgb(115, 162, 242);
    --primary-800: rgb(162, 193, 246);
    --primary-900: rgb(208, 224, 251);
    --primary-950: rgb(232, 239, 253);

    --secondary-50: rgb(6, 11, 20);
    --secondary-100: rgb(11, 22, 40);
    --secondary-200: rgb(22, 43, 80);
    --secondary-300: rgb(34, 65, 119);
    --secondary-400: rgb(45, 87, 159);
    --secondary-500: rgb(56, 108, 199);
    --secondary-600: rgb(96, 138, 210);
    --secondary-700: rgb(136, 167, 221);
    --secondary-800: rgb(175, 196, 233);
    --secondary-900: rgb(215, 226, 244);
    --secondary-950: rgb(235, 240, 249);

    --accent-50: rgb(6, 11, 19);
    --accent-100: rgb(12, 22, 39);
    --accent-200: rgb(25, 44, 77);
    --accent-300: rgb(37, 66, 116);
    --accent-400: rgb(50, 88, 154);
    --accent-500: rgb(62, 110, 193);
    --accent-600: rgb(101, 139, 205);
    --accent-700: rgb(139, 168, 218);
    --accent-800: rgb(178, 197, 230);
    --accent-900: rgb(216, 226, 243);
    --accent-950: rgb(236, 241, 249);

  }
}

body {
    background-color: var(--background-50);
    color: var(--text-950);
    font-family: Arial, Helvetica, sans-serif;
}

#main-nav {
    background-color: var(--background-opaque);
}

/* #nav-items li {
    background-color: var(--accent-200);
} */

#nav-items li {
  width: 100%;
  border-radius: 6px;
  margin: 0px;
  font-size: 16px;
  border: solid 2px var(--accent-200);
  transition: border-color 0.4s ease-in-out, background-color 0.25s ease-in-out;
}

#nav-items a {
  text-decoration: none;
  color: inherit;
  margin: 0px;
  padding: 8px;
  display: flex;  /* Keep the flex layout */
  align-items: center;
  text-align: left;
  gap: 10px;
  width: 100%;  /* Make the <a> take up the full width */
  height: 100%;  /* Make the <a> take up the full height */
  box-sizing: border-box;  /* Ensures padding is included in width/height */
}

#nav-items li:not(.active-nav) {
  background-color: var(--background-100);
}

.active-nav {
  background-color: var(--primary-200);
  border-right: solid 8px var(--accent-500) !important;
  border-radius: 6px;
}

#nav-items li:not(.active-nav):hover {
  background-color: var(--accent-200);
  border-color: var(--accent-700);
  border-width: 2px;
}

#nav-items:not(.active-nav) .lucide {
  transition: scale 0.3s ease-out;
}

#nav-items li:not(.active-nav):hover .lucide {
  scale: 1.1;
}