/* navigation.css */
#logo {
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
}

#nav-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

#main-nav {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.hidden-load {
    display: none;
  }

  #openBtn {
    all: unset; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    background: transparent; 
    border: none; 
    cursor: pointer; 
}

#openBtn svg {
    width: 28px; /* Set size of the icon */
    height: 28px; /* Set size of the icon */
}
