#main-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-container {
    background-color: var(--background-opaque);
    padding: 20px;
    height: 100%;
    width: 80%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid 2px var(--background-200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    align-items: center;
} 

input[type="text"] {
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    background-color: var(--primary-300);
    color: var(--text-900);
    outline: none;
    width: 60%;
    text-align: center;
}
  
  input[type="text"]::placeholder {
    color: var(--text-10);
  }


h2 {
    text-align: center;
    font-size: 1.8em;
    color: var(--text-900);
    margin-bottom: 20px;
}

/* Styling for the table */
#table-output {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid var(--background-300);
}

th {
    background-color: var(--primary-500);
    color: var(--text-50);
    font-weight: bold;
    font-size: 1.6em;
    width: 12vw;
}

td {
    background-color: var(--background-100);
    color: var(--text-950);
    font-size: 1.2em;
}


.upper {
    font-weight: bold;
    color: var(--primary-500);
    text-transform: uppercase;
    background-color: var(--accent-50) !important;
}
